<section class="flex gap-4">

  <app-create-card [routerLink]="['/', RoutesConstants.partyCreation]" class="party-card" />

  @for (party of (partiesList$ | async); track party.id) {
  <mat-card class="w-80 items-center cursor-pointer party-card" [routerLink]="[party.id]">
    <mat-card-header class="text-align-center">
      <mat-card-title>{{ party.campaignLabel | titlecase }}</mat-card-title>
      <!-- TODO: Afficher les displayName des joueurs -->
      <!-- <mat-card-subtitle>{{ character.gameId | appGameIdToTitle }}</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
      <img [ngSrc]="party.image ?? '/assets/' + party.gameId + '/party-card-avatar-placeholder.jpg'" width="200"
        height="200" priority />
    </mat-card-content>

  </mat-card>
  }
</section>