<form [formGroup]="form" (ngSubmit)="tryAuthenticate()" class="flex items-center justify-center h-screen">
  <mat-card class="w-80">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <section class="flex flex-col">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type=" text" placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="Mot de passe" formControlName="password" />
        </mat-form-field>

        @if (form.invalid && form.errors?.['invalidCredentials']) {
        <mat-error>Identifiants invalides</mat-error>
        }
      </section>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Connexion</button>
    </mat-card-actions>
    <mat-card-footer>
      @if (authPending) {
      <mat-progress-bar mode="indeterminate" />
      }
    </mat-card-footer>
  </mat-card>
</form>