<section class="flex gap-4 flex-wrap">

  <app-create-card [routerLink]="['/', RoutesConstants.characterCreation]" class="character-card" />

  @for (character of (charactersList$ | async); track character.id) {
  <mat-card class="w-80 items-center cursor-pointer character-card" [routerLink]="[character.gameId, character.id]">
    <mat-card-header class="text-align-center">
      <mat-card-title>
        {{ character.general.firstName | titlecase }} {{ character.general.lastName | uppercase }}
      </mat-card-title>
      <mat-card-subtitle>{{ character.gameId | appGameIdToTitle | async }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image
      [src]="character.general.avatar | appCharacterAvatarFallback: character.gameId" />

  </mat-card>
  }

</section>
