<section class="flex gap-4">

  @for (character of (charactersList$ | async); track character.id) {
  <mat-card class="w-80 items-center cursor-pointer character-card" [routerLink]="[character.gameId, character.id]">
    <mat-card-header class="text-align-center">
      <mat-card-title>
        {{ character.general.firstName | titlecase }} {{ character.general.lastName | uppercase }}
      </mat-card-title>
      <mat-card-subtitle>{{ character.gameId | appGameIdToLabel }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img
        [ngSrc]="character.general.avatar ?? '/assets/' + character.gameId + '/character-card-avatar-placeholder.png'"
        width="200" height="200" priority />
    </mat-card-content>

  </mat-card>
  }

  <app-create-card [routerLink]="['/', RoutesConstants.characterCreation]" class="character-card" />
</section>